<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        .container{
            margin-left: 1cm;
            margin-top: 1cm;

        }
    </style>
</head>
<body>
    <h1>Create course sahifasi</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Saqlash</button>
        </form>
    </div>
</body>
</html>