{% extends 'base.html' %}

{% block title %}Parolni O'zgartirish - Book Shop{% endblock %}

{% block content %}
    <div class="book-container">
        <div class="page page-left">
            <h1>Xavfsizlik</h1>
            <p style="color: #4a3625; line-height: 1.6;">O'z ma'lumotlaringizni va sirlaringizni ishonchli himoyada saqlang.</p>
        </div>
        <div class="page page-right">
            <h1>Parolni O'zgartirish</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">O'zgartirish</button>
            </form>
            <div style="text-align: center;">
                <a href="{% url 'accounts:profile' %}" class="back-link">Ortga Qaytish</a>
            </div>
        </div>
    </div>
{% endblock %}