{% extends 'base.html' %}

{% block title %}Register - Book Shop{% endblock %}

{% block extra_css %}
    .book-container {
        perspective: 1500px;
        animation: openBook 1.5s ease-out forwards;
    }

    @keyframes openBook {
        0% { transform: scale(0.8) rotateX(10deg); opacity: 0; }
        100% { transform: scale(1) rotateX(0deg); opacity: 1; }
    }
{% endblock %}

{% block content %}
    <div class="book-container">
        <div class="page page-left">
            <h1>The Book Shop</h1>
            <p>Welcome, new friend! <br><br>Inscribe your name in our registry to begin an unforgettable literary adventure.</p>
        </div>
        <div class="page page-right">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Register</button>
            </form>
            <p style="margin-top: 20px; font-size: 14px; text-align: center;">Allaqachon hisobingiz bormi? <a href="{% url 'accounts:login' %}" style="color: #8b5a33; text-decoration: none; font-weight: bold;">Kirish</a></p>
        </div>
    </div>
{% endblock %}