{% extends 'base.html' %}
{% block title %}Update Product{% endblock %}
{% block content %}
    <div class="card" style="max-width: 400px;">
        <h2>Update Product</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background: #ffc107; color: black;">Update</button>
        </form>
        <br>
        <a href="{% url 'products:detail' form.instance.pk %}">Cancel</a>
    </div>
{% endblock %}
