<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}}</title>
</head>
<body>
    <h1>{{book.title}}</h1>

    {% if book.image %}
        <img src="{{ book.image.url }}" width="250">
    {% endif %}

    <p>Kategoriya: {{book.category}}</p>
    <p>Muallif: {{book.author}}</p>
    <p>Narxi: {{book.price}}</p>
    <p>{{book.desc}}</p>

    <a href="{% url 'list' %}">Ortga</a>
</body>
</html>